@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gyaneshwar (A00433014)</p>
<p>Khagesh (A00431429)</p>
<p>Devvrat (A00431503)</p>
<p>Megha Shyam (A00432392)</p>
